<a href="https://colab.research.google.com/github/Gaks978/DML-Checkpoint/blob/main/Data_Exploration_with_Pandas_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this checkpoint, we are going to work on the billing history of the Tunisian electricity and gas company and apply what you learned in pre-processing chapter.

Dataset description :

The provided dataset contains the billing history of the Tunisian electricity and gas company's customers from 2005 to 2019.

➡️ Dataset link

https://i.imgur.com/AaBqRR5.png

Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
What is the data type of the 'client_0_bills' variable ?
Display the general information of the dataset and try to answer the following questions :
How many rows and columns do we have in this dataset ?
How many categorical features are present in the dataset ?
How much memory space does the dataset consume ?
Inspect the dataset for potential missing values.
Select your strategy to handle missing values, and tell us why you had made that choice.
Run a descriptive analysis on numeric features (columns).
Select the bills records for the client with an id ='train_Client_0', using 2 methods.
Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
Delete the 'counter_statue' feature from the Dataframe

In [3]:
import pandas as pd
df = pd.read_csv("/content/STEG_BILLING_HISTORY.csv")

In [4]:
# Displaying the first ten lines
client_0_bills = df.head(10)
print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number  counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0               0
1  train_Client_0   2013-03-29          11       1335667.0               0
2  train_Client_0   2015-03-23          11       1335667.0               0
3  train_Client_0   2015-07-13          11       1335667.0               0
4  train_Client_0   2016-11-17          11       1335667.0               0
5  train_Client_0   2017-07-17          11       1335667.0               0
6  train_Client_0   2018-12-07          11       1335667.0               0
7  train_Client_0   2019-03-19          11       1335667.0               0
8  train_Client_0   2011-07-22          11       1335667.0               0
9  train_Client_0   2011-11-22          11       1335667.0               0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302    14384.0            4.0         ELEC
1      12294    13678.0            4.0         ELEC
2      14624    14747.0            4.0         ELEC
3      14747    14849.0            4.0         ELEC
4      15066    15638.0           12.0         ELEC
5      15638    15952.0            8.0         ELEC
6      15952    16493.0           12.0         ELEC
7      16493    17078.0            8.0         ELEC
8       7770     9156.0            4.0         ELEC
9       9156    10238.0            4.0         ELEC

In [ ]:
# data type of client_0_bills variable
type(client_0_bills)

pandas.core.frame.DataFrame

In [ ]:
# General information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB

In [ ]:
# Number of rows
df.shape[0]

4476749

In [ ]:
# Number of columns
df.shape[1]

16

In [ ]:
# Categorical features present in the dataset
categorical_features = df.select_dtypes(include=['object']).columns
print(categorical_features)

Index(['client_id', 'invoice_date', 'counter_statue', 'counter_type'], dtype='object')

In [ ]:
len(categorical_features)

4

In [ ]:
# Memory usage
df.memory_usage

<bound method DataFrame.memory_usage of                   client_id invoice_date  tarif_type  counter_number  \
0            train_Client_0   2014-03-24          11       1335667.0
1            train_Client_0   2013-03-29          11       1335667.0
2            train_Client_0   2015-03-23          11       1335667.0
3            train_Client_0   2015-07-13          11       1335667.0
4            train_Client_0   2016-11-17          11       1335667.0
...                     ...          ...         ...             ...
4476744  train_Client_99998   2005-08-19          10       1253571.0
4476745  train_Client_99998   2005-12-19          10       1253571.0
4476746  train_Client_99999   1996-09-25          11        560948.0
4476747  train_Client_99999   1996-05-28          11        560948.0
4476748  train_Client_99999   1996-01-25          11        560948.0

        counter_statue  counter_code  reading_remarque  counter_coefficient  \
0                    0           203               8.0                    1
1                    0           203               6.0                    1
2                    0           203               8.0                    1
3                    0           207               8.0                    1
4                    0           207               9.0                    1
...                ...           ...               ...                  ...
4476744              0           202               9.0                    1
4476745              0           202               6.0                    1
4476746              0           203               6.0                    1
4476747              0           203               6.0                    1
4476748              0           203               6.0                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
0                          82                     0                     0
1                        1200                   184                     0
2                         123                     0                     0
3                         102                     0                     0
4                         572                     0                     0
...                       ...                   ...                   ...
4476744                   400                   135                     0
4476745                   200                     6                     0
4476746                   259                     0                     0
4476747                   603                     0                     0
4476748                   516                     0                     0

         consommation_level_4  old_index  new_index  months_number  \
0                           0      14302      14384              4
1                           0      12294      13678              4
2                           0      14624      14747              4
3                           0      14747      14849              4
4                           0      15066      15638             12
...                       ...        ...        ...            ...
4476744                     0       3197       3732              8
4476745                     0       3732       3938              4
4476746                     0      13884      14143              4
4476747                     0      13281      13884              4
4476748                     0      12765      13281              4

        counter_type
0               ELEC
1               ELEC
2               ELEC
3               ELEC
4               ELEC
...              ...
4476744         ELEC
4476745         ELEC
4476746         ELEC
4476747         ELEC
4476748         ELEC

[4476749 rows x 16 columns]>

In [ ]:
# Inspecting for missing values
df.isnull().sum()

client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

In [14]:
# Dropping columns with missing value
df.dropna(axis = 1)

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638.0,12.0,ELEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167405,train_Client_104508,2014-09-26,11,1179651.0,0,203,6.0,1,360,0,0,0,7414,7774.0,4.0,ELEC
167406,train_Client_104508,2014-05-28,11,1179651.0,0,203,6.0,1,358,0,0,0,7056,7414.0,4.0,ELEC
167407,train_Client_104508,2014-01-31,11,1179651.0,0,203,9.0,1,411,0,0,0,6645,7056.0,4.0,ELEC
167408,train_Client_104508,2009-09-29,11,1179651.0,0,203,6.0,1,258,0,0,0,1926,2184.0,4.0,ELEC
167409,train_Client_104508,2010-01-02,11,1179651.0,0,203,6.0,1,294,0,0,0,2184,2478.0,4.0,ELEC

In [15]:
# Descriptive analysis on numeric features(columns)
df.describe()

,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,167229.000000,1.672290e+05,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000,167229.000000
mean,20.155033,9.626157e+10,0.041201,172.028751,7.314993,1.000012,408.420711,106.075184,21.756436,42.411567,17252.936608,17823.327999,38.347165
std,13.485178,1.421712e+12,0.369892,133.523684,1.360111,0.004891,604.175129,794.992501,285.297639,615.642197,37881.845969,38322.840433,1306.196901
min,9.000000,0.000000e+00,0.000000,5.000000,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,11.000000,1.214340e+05,0.000000,5.000000,6.000000,1.000000,76.000000,0.000000,0.000000,0.000000,1751.000000,2022.000000,4.000000
50%,11.000000,5.047050e+05,0.000000,203.000000,6.000000,1.000000,269.000000,0.000000,0.000000,0.000000,7488.000000,8000.000000,4.000000
75%,40.000000,1.124315e+06,0.000000,207.000000,9.000000,1.000000,600.000000,0.000000,0.000000,0.000000,21448.000000,22127.000000,4.000000
max,45.000000,2.738110e+13,5.000000,532.000000,9.000000,3.000000,93385.000000,99398.000000,45360.000000,87776.000000,867253.000000,877022.000000,99104.000000

In [16]:
# Selecting the bills records for the client with an id = 'train_client_0'
df[df['client_id'] == 'train_client_0']

Empty DataFrame
Columns: [client_id, invoice_date, tarif_type, counter_number, counter_statue, counter_code, reading_remarque, counter_coefficient, consommation_level_1, consommation_level_2, consommation_level_3, consommation_level_4, old_index, new_index, months_number, counter_type]
Index: []

In [17]:
# Also you can use
df.loc[df['client_id'] == 'train_client_0']

Empty DataFrame
Columns: [client_id, invoice_date, tarif_type, counter_number, counter_statue, counter_code, reading_remarque, counter_coefficient, consommation_level_1, consommation_level_2, consommation_level_3, consommation_level_4, old_index, new_index, months_number, counter_type]
Index: []

In [19]:
# Transforming counter type feature to numeric variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['counter_type'] = le.fit_transform(df['counter_type'])
print(df['counter_type'])

0         0
1         0
2         0
3         0
4         0
         ..
167405    0
167406    0
167407    0
167408    0
167409    0
Name: counter_type, Length: 167229, dtype: int64

In [20]:
# Deleting 'counter_statue' feature from the dataframe
df.drop('counter_statue', axis = 1, inplace = True)